*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 798px;
    min-height: 1048px;
}

header, footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 100px;
    border: 1px solid black;
}

.main-nav {
    margin-left: 15%;
    margin-right: 25%;
    width: 450px;
    height: 100%;
}

.main-nav ul{
    display: flex;
    height: 100%;
}

.main-nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.main-nav a, .function-nav a{
    text-decoration: none;
    color: black;
}

.login-button{
    width: 100px;
    padding: 15px;
}

aside{
    order: -1;
    width: 15%;
    min-width: 120px;
    border: 1px solid black;
}

.function-nav{
    margin-top: 10vh;
    width: 100%;
}

.function-nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border: 1px solid black;
}

.window-container{
    display: flex;
    min-width: 500px;
    min-height: 445px;
}

.widget{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 15vw;
    margin: 20px;
    border: 1px solid black;
}

.widget-container{
    display: flex;
    justify-content: center;
    width: 70vw;
    height: auto;
}

.columm1, .columm2{
    display: flex;
    flex-direction: column;
}

.line1, .line2, .line3{
    display: flex;
}

.last-messages{
    flex-grow: 2;
}

.file-explorer{
    flex-grow: 2;
}